.jumbotron {
  background: #ff9999;
  padding: 2%;
  margin: 2%
}

body {
  text-align: center;
}

ul {
  list-style-type: none;
  background: #3399ff;
  margin: 0em 10% 2em 10%;
  border-radius: 5px;
}

ul li {

}
