.jumbotron {
  background: rgba(255, 128, 5, 1);
  padding: 2%;
  margin: 2%
}

header {
  color: white;
}

body {
  text-align: center;
  text: white;
}

#events {
  list-style-type: none;
  background: rgba(5, 112, 255, 1);
  margin: 0em 10% 2em 10%;
  border-radius: 5px;
  color: white;
}

#completes {
  list-style-type: none;
  color: white;
  background: grey;
  margin: 0em 20% 2em 20%;
  broder-radius: 5px;
  border: black;
}

li {
  color: white;
}
