.jumbotron {
  background: rgba(255, 128, 5, 1);
  padding: 2%;
  margin: 2%
}

header {
  color: white;
}

body {
  text-align: center;
  text: white;
}

ul {
  list-style-type: none;
  background: rgba(5, 112, 255, 1);
  margin: 0em 10% 2em 10%;
  border-radius: 5px;
}

#events {
  color: white;
}

ul li {
  color: white;
}
